@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Overpass", sans-serif;
  font-size: 0.8rem;
  background-color: hsl(216, 12%, 8%);
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 2em;
}

.container {
  width: 70%;
  max-width: 370px;
  background-color: hsl(213, 19%, 18%);
  color: hsl(217, 12%, 63%);
  margin: 0 auto;
  padding: 3rem 2rem;
  border-radius: 1rem;
  line-height: 1.5;
}

.container h2 {
  color: #fff;
  margin: 1.2rem 0 1rem;
}

.container p {
  width: 95%;
  /* text-align: justify; */
}

#star--icon {
  padding: 0.6rem;
  border-radius: 50%;
  background-color: hsl(215, 18%, 24%);
}

#rating-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 0;
}

.rate {
  padding: 12px 15px;
  border-style: none;
  border-radius: 50%;
  background-color: #323b48;
  transition: 0.3s;
  color: hsl(217, 12%, 63%);
}

.rate:hover {
  background-color: #fb7413;
  color: #fff;
  cursor: pointer;
}

.rate:focus {
  background-color: hsl(0, 0%, 100%);
  color: #323b48;
}

#submit-btn {
  width: 100%;
  height: 2rem;
  border-radius: 1rem;
  text-transform: uppercase;
  letter-spacing: 1.5;
  font-weight: 500;
  background-color: hsl(25, 97%, 53%);
  transition: 0.5s;
  color: #fff;
  border-style: none;
}

#submit-btn:hover {
  background-color: #fff;
  color: hsl(25, 97%, 53%);
  cursor: pointer;
}

.thanks {
  align-items: center;
  text-align: center;
}

.thanks h3 {
  background-color: hsl(215, 18%, 24%);
  color: hsl(25, 97%, 53%);
  line-height: 1.5;
  text-align: center;
  width: 210px;
  font-weight: 400;
  margin: 1.2rem auto;
  border-radius: 1em;
}

.thanks h2 {
  font-weight: 700;
  font-size: 1.8rem;
}

.hidden {
  display: none;
}

.attribution {
  color: #fb7413;
  text-align: center;
  margin-top: 2rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
